@import url("https://marksheet.io/css/reset.css");
html {
  height: 100%
  }
body {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family:Verdana,sans-serif;
    font-size: 12px;
}
.container {
    display: flex;
    width: 100%;
    max-width: 1024px; 
    margin: 0 auto;
    }
  .row {
    flex-direction: row;
}
.column {
    flex-direction: colum;
 nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
strong{
 font-weight:bold;
 }
 .block {
 display: flex;
  width: 100%;
  margin: 0 auto; 
  }
  .btn {
   position: relative;
   display: flex; 
   widtn:195xp;
   padding: 0 25px;
   font-family: Verdana, sans-serif;
   font-weight: bold;
   font-size: 1em;
   line-height: 50px;
   text-decoration:50px;
   text-transform:uppercase;
   vertical-alingn:top;
   color: #222222;
   border-radius:50px;
  }
  
  .btn: :after {
   content: "";
   position: absolute;
   right: 20px;
   top: 17px;
   widtn:19xp;
   height: 16px;
   background-repeat: no-repeat;
   background-position: 0 0;
    }
.btn-yellow {
background-color:#fecf30;
  }
.btn-yellow: hover {
 background-color:#ffffff;
  }
 .btn-grey {
 widtn:215px;
 color: #fff;
 background-color: #222;
  }
  .btn-grey: after {
   background-images:url (/images/right-arrow-white.png) ;
  }
  .btn-grey: hover { 
  background-color:#676767; 
  }
  .col-1{
    flex: 1;
}
.col-2{
    flex: 2;
}
.col-3{
    flex: 3;
}
.col-4{
    flex: 4;
}
.col-5{
    flex: 5;
}
.col-6{
    flex: 6;
}
@media (max-width: 800px) {
    .container {
        flex-direction: column;
} 
header{
 flex;0 0 auto;
  height: 200px;
  background-color:#DC143C;
  }
  headr > div.container {
     height: 100%;
    align-items: flex-end;
  }
  headr ul {
     display:flex;
    padding-bottom:20px;
  }
  headr li {
 color:#00FF00;
  }
   headr li a {
      padding: 50px 10px 10px 10px;
     margin-right: 10px;
     color:#FF4500;
     text-decoration: none;
  }
 .headr-icon {
  display:flex; 
  padding-bottom:20px;
  align-items: center;
  }
 .headr-icon img {
     padding-right:20px;
  }
   
     
    
 .moon {
  flex:1 0 auto;
  flex-wrap: wrap;
  background-color:#030339;
  padding: 30px 0;
  }
   .moon-headr {
   width: 300px;
   margin: 0 5vw;
   padding: 60px 0; 
  }
  .moon h1 {
   margin: 0 5vw;
   font-family: Courier new, monocpase;
   font-weight: bold;
   font-size: 3.2em;
   line-height: 50px;
   color: #fff;
  }
  .moon p {
   margin-bottom: 50px;
   padding:-left: 5px;
   line-height: 22px;
   color: #111111;
   font-size: 1.1em;
  }
  .moon img {
  width: 100%; 
  max-width: 438px;
  margin:30px 0;
  }
  .advantages {
   flex:1 0 auto;
   }
   .content{
    flex:1 0 auto;
    }
  .content {
flex: 1 @ auto;
padding: 55px 0:

}

.content div {
justify-content: space-between;

}

-left-column {
max-width: 440px;
padding: 30px 30px 30px 0;

}

.right-column {
max-width: 440px;
padding: 30px 0:

}

.content img {
width: 100%;
max-width: 440px;

}

.content h2 {
font-family: Courier new, sans-serif;
font-size: 1.6em;
font-weight: bold;
padding-bottom: 40px;

}

.content p {
line-height: 20px:
padding-bottom: 15px;

}

.content ul {
margin-left:

}

.content li { _
position: relative;
padding-bottom: 15px;

} BOT 3T0

.content li::before { 
content: "";
position: absolute;
left: [-25px;Je——
top: Spx;
width: 8px;
height: 8px;
border-radius: 50%;
background-color: #feca30;

}
   .advantages {
   flex:1 0 auto;
   padding 55px 0 85 px 0;
   background-color:#192745
   color:#777777;
   }
  .advantages div {
    justify-content: space-around;
  }
   .advantages .block-item{
     max-width: 200px;
  }
  .advantages img {
   padding: 30px 0;
  }
    footer{
   flex:0 0 auto;
   padding:85px 0 55px 0;
   background-color:#123456
   color:343434;
   }
  -copyright {
color: #777777;
padding-top: 100px;

}

footer h3 {
Margin: 20px 20px 40px 0;
padding-bottom: 20px;
color: #868686;
text-transform: uppercase;
border-bottom: 1px solid #212121;

}

footer h3 a {
color: #656565;
text-decoration: none;

}

footer li {
Margin-bottom: 20px;

}

footer lia {
color: #979797;
text-decoration: none;

}
